body,html {
    width : 100%;
    height: 100%;
    margin: 0, auto;
}
input{
    width: 450px;
    height: 45px;
    border: 1px solid #dadada;
    font-size: 15px;
}

#gender{
    width: 450px;
    height: 45px;
    border: 1px solid #dadada;
    font-size: 15px;
}
#birth_year,#birth_month,#birth_date {
    width: 150px;
    height: 45px;
    border: 1px solid #dadada;
    font-size: 15px;
}
h3 {
    margin : 6px;
}