body,html {
    width : 100%;
    height: 100%;
    margin: 0, auto;
}
input{
    width: 300px;
    height: 30px;
}

#gender{
    width: 340px;
    height: 32px;
}
#birth_year,#birth_month,#birth_date {
    width: 80px;
    height: 30px;
}
