body,html {
    width : 100%;
    height: 100%;
    margin: 0, auto;
}
input{
    width: 300px;
    height: 30px;
}
select {
  
}

#gender{
    witdh: 300px;
}
#birth_year,#birth_month,#birth_date {
    w
}
