body,html {
    width : 100%;
    height: 100%;
    margin: 0, auto;
}
input{
    width: 450px;
    height: 45px;
    border: 1px solid #dadada;
    font-size: 15px;
    
}

#gender{
    width: 450px;
    height: 45px;
    border: 1px solid #dadada;
}
#birth_year,#birth_month,#birth_date {
    width: 80px;
    height: 30px;
    border: 1px solid #dadada;
    
}
