body,html {
    width : 100%;
    height: 100%;
    margin: 0, auto;
}
input{
    width: 500px;
    height: 50px;
    border: 1px solid #dadada;
}

#gender{
    width: 500px;
    height: 50px;
    border: 1px solid #dadada;
}
#birth_year,#birth_month,#birth_date {
    width: 80px;
    height: 30px;
    border: 1px solid #dadada;
    
}
