body,html {
    width : 100%;
    height: 100%;
    margin: 0, auto;
}
input{
    width: 450px;
    height: 45px;
    border: 1px solid #dadada;
    font-size: 15px;
}

#gender{
    width: 450px;
    height: 45px;
    border: 1px solid #dadada;
    font-size: 15px;
}
#birth_year,#birth_month,#birth_date {
    width: 150px;
    height: 45px;
    border: 1px solid #dadada;
    width: 200px;
    padding: .8em .5em;
    border: 1px solid #999;
    font-family: inherit;
    background: url('arrow.jpg') no-repeat 95% 50%;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;


출처: https://doolyit.tistory.com/126 [동해둘리의 IT Study]
}
h3 {
    margin : 6px;
}