.b_content > div{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    float: left;
}
.b_content > div:nth-child(1){
    width: 120px;
    border-right: 2px solid black;
    text-align: center;
    box-sizing: border-box;
}
.b_content > div:nth-child(2){
    padding: 0 25px;
    box-sizing: border-box;
}

#board_type, #s_type {
	float: right;
	min-width: 100px;
	text-align: center;
}
.b_content {
	float: left;
	width: 100%;
	margin-bottom: 8px;
}
#b_content {
	float: left;
	width: 100%;
	box-sizing: border-box;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #333;
    margin: 25px 0 10px 0;
}
#board_type {
	text-align: center;
}