#b_main{
    margin: 0 auto;
    width: 600px;
    padding: 20px;
}
#b_main > div{
    margin: 0;
    border: 1px solid black;
    margin-top: 30px;
}
#b_main > div:nth-child(1){
    margin-top: 0;
}

#b_main div{
    border-collapse: collapse;
}
.b_content >div{
    display: inline-block;
    height: 50px;
    line-height: 50px;
}
.b_content > div:nth-child(1){
    width: 20%;
    border-right: 1px solid black;
    padding: 0 10px 0 10px;
    text-align: center;
}
.b_content > div:nth-child(2){
    width: 71%;
    padding: 0 10px 0 10px;
}
#con1{
    text-align: center;
    
}
#b_content{
    height: 400px;
    padding: 15px;
}
.box-area div div {
    background: #ffffff;
    padding: 0;
    min-height: 0;
    position: static;
    top: -0;
    left: 0%;
    transform: translateX(0%);
    width: 100%;
}