/* body	*/
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Open Sans", Helvetica, sans-serif;
	background-color: #ffffff;
}
/* body	*/
#responsive-admin-menu, #content-wrapper {
    width: 260px;
    float: left;
    box-sizing: border-box;
    padding: 0 30px;
}

#content-wrapper {
	width: 940px;
	min-height: 400px;
	border-left: 3px solid #dadada;
	padding-top: 15px;
}

#content-wrapper th {
	background-color: #f1eecd;
	line-height: 40px;
	padding: 0 8px;
}
#content-wrapper th:nth-child(1),
#content-wrapper th:nth-child(6) {
	width:120px;
	max-width:120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#content-wrapper td {
	height: 30px;
	padding: 0 8px;
}

#responsive-admin-menu #responsive-menu {
	height: 50px;
	display: none;
	line-height: 50px;
	cursor: pointer;
	color: #ffffff;
	text-indent: 10px;
}

#responsive-admin-menu #responsive-menu .menuicon {
	color: #ffffff;
	font-size: 24px;
	position: absolute;
	right: 10px;
	top: 0px;
}

#responsive-admin-menu #logo {
	background-position: -0px -36px;
	width: 174px;
	height: 40px;
	margin: 10px;
	-webkit-background-size: 146.66667px 25.83333px;
	background-size: 146.66667px 25.83333px;
}

/* Menu Styles */
#responsive-admin-menu #menu {
	width: 100%;
}

#responsive-admin-menu #menu a {
	border-bottom: 1px dotted #52535a;
	font-size: 16px;
	text-decoration: none;
	display: block;
	padding: 15px;
	color: rgb(0, 0, 0);
	position: relative;
	font-weight: 400;
	overflow: hidden;
}

#responsive-admin-menu #menu a:hover {
	color: #52535a;
	background-color: #fcfcfc;
}

#responsive-admin-menu #menu i {
	width: 16px;
	padding-right: 4px;
}

#responsive-admin-menu #menu div {
	display: none;
	width: 100%;
	background-color: #5c5d64;
	overflow: hidden;
}

#responsive-admin-menu #menu div a {
	color: #c0c0c0;
}

#responsive-admin-menu #menu div a:hover {
	color: #888888;
}

#responsive-admin-menu #menu {
	font-family: FontAwesome;
	content: "\f054";
}

#responsive-admin-menu #menu {
	font-family: FontAwesome;
	content: "\f078";
}

#responsive-admin-menu #menu a.submenu:before {
	font-size: 14px;
	position: absolute;
	right: 15px;
	top: 17px;
}

/* menu-icon */
.icon {
	font-style: normal;
	font-weight: bold;
}
/* box */
.box-wrap {
	/* position: relative; */
	min-height: 250px;
}

.box-wrap table {
	width: 100%;
	text-align: center;
}

.box-wrap table, th, td {
	border-collapse: collapse;
	border: 1px solid black;
}



#box-1:target, #box-2:target, #box-3:target, #box-4:target, #box-5:target,
	#box-6:target, #box-7:target {
	z-index: 1;
}

/* content */
#content {
	box-sizing: border-box;
	margin-top: 30px
}
/* saerch */
.saerch {
	position: relative;
	left: 57%;
}

.saerch-board>* {
	margin: 0 1px 0 1px;
}

.saerch-board {
	width: 425px;
	position: relative;
	left: 47%;
}

.saerch-ca {
	width: 420px;
	position: relative;
	left: 53%;
}

.delete {
	text-align: center;
}


#content-wrapper td:nth-child(2) {
	width: 180px;
	max-width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#content-wrapper td:nth-child(4) {
	width: 120px;
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#Qemail, #Qtitle {
	display: table;
	overflow: hidden;
    line-height: 30px;
    margin-bottom: 8px;s
}
#Qemail > div:first-child,
#Qtitle > div:first-child {
	display: table-cell;
	vertical-align: middle;
    width: 90px;
    box-sizing: border-box;
    border-right: 2px solid #333;
    padding: 0 15px;
}
#Qemail2, #Qtitle2 {
	display: table-cell;
	vertical-align: middle;
    text-align: left;
    padding: 0 15px;
    max-width: 650px;
}
#Qtext {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #dadada;
    margin-top: 15px;
}
#b_main > button {
	display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
	padding: 3px 20px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 4px;
}