.b1_main>div {
	box-sizing: border-box;
}

.b1_main {
	position: relative;
}
.b1_main > div {
	display: table;
	width: 100%;
}
.b1_main > div > div {
	display: table-cell;
	vertical-align: middle;
}
#b1_Profile {
    width: 150px;
    height: 150px;
    overflow: hidden;
    width: 50%;
}
#b1_Profile > div {
	width: 150px;
    height: 150px;
    border: 1px solid #333;
    border-radius: 4px;
    margin: 0 auto;
}
#b1_Profile > div > img {
	width: 100%;
}
#b1_Info {
	position: relative;
    box-sizing: border-box;
    width: 300px;
    padding: 0 30px;
}

#b1_Function {
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-top: 15px;
}
#b1_Function > div {
	display: block;
	border-top: 1px solid #dadada;
	box-sizing: border-box;
	padding-top: 8px;
	margin-bottom: 15px;
	overflow: hidden;
}
#b1_Function > div > div {
	float: left;
	width: 30%;
	text-align: center;
}
#b1_Function > div > div:first-child {
	width: 40%;
}
#b1_Function > div > div input {
	width: 70px;
    height: 32px;
    border: 1px solid #333;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0 5px;
}
#b1_Function > div > div button {
	border: 1px solid #333;
	background-color: #fff;
	padding: 3px 8px;
	border-radius: 3px;
}
#b1_Function > div > div button:hover {
	background-color: #333;
	color: #fff;
}

#b1_table1 tr, td, #b1_table2 tr, td {
	width: auto;
	border: 1px solid black;
}

table, tr, td, th {
	border: 1px solid black;
	border-collapse: collapse;
}

#b1_table1,  #b1_table2 {
	overflow: auto;
}

#b1_t1 {
	float: left;
}
.abt{
	height: 150px;
	overflow: auto;
}