#layout > form > div {
    width: 100%;
    margin-bottom:15px;
    overflow: hidden;
}
#layout > form > div > p {
    margin-bottom: 8px;
}
#layout > form > div > input {
    width: 100%;
    margin-bottom: 18px;
    border: 1px solid #dadada;
    padding: 5px;
}
#layout > form > div > textarea {
    width: 100%;
    resize: none;
    overflow: auto;
    height: 200px;
    overflow:visible;
    margin-bottom: 18px;
    border: 1px solid #dadada;
    padding: 5px;
}
#layout > form > div > select {
    width: 85px;
    padding: 3px 0;
}
#layout > form > div.buttons {
    width: unset;
    margin-bottom: 40px;
}
#layout > form > div.buttons > button {
    margin-right: 0;
}
.upload {
    width: auto;
}
.upload label {
	  display: none;
}
.studyName {
	margin-bottom: 15px;
}
#layout > form {
	width: 850px;
	margin: 0 auto;
}
#layout > form > div.checked > div {
	float: left;
	margin-right: 15px;
}
.form {
	border-left: 3px solid #dadada;
    box-sizing: border-box;
    padding: 30px;
    width: 820px !important;
}