       
       @import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
       .bigcal {
            width: 100%;
            max-width: 750px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 67px 40px 12fr;
            margin: auto;
            overflow: hidden;
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            background: #fff;
            color: #51565d;
            margin-bottom: 30px;
        }

        .years {
            text-align: center;
            line-height: 66px;
			width:100%;
            
        }

        .year{
            font-weight: 600;
            margin-right: 10px;
        }
        .month{
            font-size: 1.3em;
            font-weight: 600;
            margin-right: 50px;
            width: 45px;
        }

        .dayofweek {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: 1fr;
            text-align: center;
            border-bottom: 1px solid rgba(166, 168, 179, 0.12);
            border-top: 1px solid rgba(166, 168, 179, 0.12);
            height: 100%;
        }

        .dayname{
            align-content: center;
            display: grid;
        }

        .days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            text-align: left;
            
        }
        .day{
            border-bottom: 1px solid rgba(166, 168, 179, 0.12);
            border-right: 1px solid rgba(166, 168, 179, 0.12);
            padding-left:6px; 
            z-index: 0;
        }



        .yearsbox div {
            text-align: center;
            float: left;
        }
        
        .yearsbox{
            width: max-content;
            margin: auto;
        }
        
        .years div span {
            background: beige;
            padding: 5px;
            border-radius: 8px;
            font-size: 0.8em;
            font-weight: 700;
        }
        .years div span:hover{
            background: rgb(211, 211, 67);
            cursor: pointer;
        }
        #prevbtn{
            margin-right: 50px;
        }
        #deleteSd{
        cursor:pointer;
        }

        .schedule{
            height: 22px;
            align-self: flex-start;
            position: relative;
            z-index: 1;
            opacity: 0.5;
            width: 100%;
            font-size: 13px;
            line-height: 22px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            cursor: pointer;
        }


        .ctmenu{
            display: none;
			width: 100px;
            height: 33px;
            overflow: hidden;
            background: white;
            z-index: 10;
            position: absolute;
            top: 500px;
            border: 1px solid gray;
            border-radius: 5px;
            background: -webkit-linear-gradient(305deg, rgb(254, 255, 252), rgb(244, 255, 212));
        }
        .sdmenu{
            display: none;
			width: 100px;
            height: 66px;
            overflow: hidden;
            background: white;
            z-index: 10;
            position: absolute;
            top: 500px;
            border: 1px solid gray;
            border-radius: 5px;
            background: -webkit-linear-gradient(305deg, rgb(254, 255, 252), rgb(244, 255, 212));
        }

        .rightclick{
            display: block;
        }
        
        .ctcontent{
            height: 100%;
            text-align: center;
            line-height: 33px;
            font-size: 13px;
        }
        .sdcontent{
            height: 50%;
            text-align: center;
            line-height: 33px;
            font-size: 13px;
        }
        .ctcontent:hover{
            background: rgb(82, 82, 82);
            color: white;
        }
        .sdcontent:hover{
            background: rgb(82, 82, 82);
            color: white;
        }
        
        .modal {
		    display: none;
		    /* Hidden by default */
		    position: fixed;
		    /* Stay in place */
		    z-index: 1;
		    /* Sit on top */
		    padding-top: 100px;
		    /* Location of the box */
		    left: 0;
		    top: 0;
		    width: 100%;
		    /* Full width */
		    height: 100%;
		    /* Full height */
		    background-color: rgb(0, 0, 0);
		    /* Fallback color */
		    background-color: rgba(0, 0, 0, 0.4);
		    /* Black w/ opacity */
		}

		/* Modal Content */
