
title {
    position: relative;
    display: block;
    width:50%;
    font-size: 30px;
    
}
.board {
    width:71%;
    padding: 15px;
    padding-top: 30px;
    height: 10px;
    border-bottom: 2px solid blue;
    
    
}
.content {
    position: relative;
    width: 850px;
    padding: 15px;
    padding-bottom: 50%;
}
.span1 {
    float: left;
}
.span2 {
    float: right;
}
.span3 {
    float: right; 
    margin-right: 15px;
}
.delete {
    display: inline-block;
    text-align: center;
}
.modify {
    display: inline-block;
    text-align: center;
}
.all {
    width: 130px;
    float: right;
}
/* .all > :nth-child(1) {
    float: left;
}
.all > :nth-child(2) {
    float: right;
} */

.content {
    resize: none;
    border: solid 1px red;
}
.comment {
 overflow: hidden; 
 line-height: 14px; 
 height: 60px;
 resize: none;
}
.insert1 {
    float: right;
    overflow: visible;
}
.but {
    width: 70px;
    height: 60px;
}
.review {
    padding: -3px;

}
.regDate {
    float: right;
}
.comment_list {
    border: solid 1px black;
}
