body, button, dd, dl, dt, fieldset, 
form, h1, h2, h3, h4, h5, h6, input, 
legend, li, ol, p, select, table, td, 
textarea, th, ul, a {
    position: relative;
    font-family: 'Noto Sans KR';
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    color: #4d4d4d;
    box-sizing: border-box;
}

html, body {
    min-width: 1200px;
}

/* button */
.submit_btn {
    display:block;
    width : 300px;
    height: 35px;
    color: #fff;
    background-color: #4d4d4d;
    border: none;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
.submit_btn:hover {
    background-color: #333;
}

/* button이 2개 이상일 경우 div로 .buttons 클래스 추가 */
.buttons {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.buttons button {
    min-width: 85px;
    padding: 3px 8px;
    border: none;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 4px;
    margin: 0 5px;
}
.buttons button:hover {
    border: 1px solid transparent;
    background-color: #333;
    color: #fff;
}
/* 일반 버튼 */
.oneBtn {
    padding: 3px 20px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 4px;
}
.oneBtn:hover {
    border: 1px solid transparent;
    background-color: #333;
    color: #fff;
}
.alertBtn {
	position: absolute;
	right: 0;
	bottom: 15px;
	border: none;
    background-color: #fff;
    cursor: pointer;
    padding: 5px 15px;
}
.alertBtn:hover {
	color: red;
}

.close {
	position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    font-size: 20px;
    font-weight: 900;
    border: none;
    padding: 0 5px;
    z-index: 1;
    color: #333;
    cursor: pointer;
    background-color: transparent;
}
.close > i {
	position: absolute;
    top: 4px;
    left: 5px;	
}
.modal p {
    padding: 8px 0 15px;
    border-bottom: 2px solid #333;
    margin-bottom: 18px;
}

/* ajax 경고문구 */
.alert_wrap {
    float: right;
    color: red;
    font-size: 13px;
}
.alert_wrap_left {
    color: red;
    font-size: 13px;
    margin-left: 5px;
}

/* 게시물이 없을 경우 */
.emptyCont {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 320px 0 50px 0;
    background-image: url(./../images/empty-result.png);
	background-position: center;
    background-repeat: no-repeat;
    font-size: 18px;
  	background-size: 250px;
}

.studyboardlayout {
	width: 820px !important;
    border-left: 3px solid #dadada !important;
    box-sizing: border-box;
    padding: 15px 30px;
    float: left;
}

.studyboardfreelayout {
	width: 100% !important;
	border-left: none !important;
}
