body, button, dd, dl, dt, fieldset, 
form, h1, h2, h3, h4, h5, h6, input, 
legend, li, ol, p, select, table, td, 
textarea, th, ul, a {
    position: relative;
    font-family: 'Noto Sans KR';
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    color: #4d4d4d;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* button */
.submit_btn {
    display:block;
    width : 300px;
    height: 52px;
    color: #fff;
    background-color: #4d4d4d;
    border: none;
    border-radius: 3px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.submit_btn:hover {
    background-color: #333;
}

.buttons {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}
.buttons > button {
    width: 85px;
    padding: 3px 0;
    border: none;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 4px;
}
.buttons > button:hover {
    border: 1px solid transparent;
    background-color: #333;
    color: #fff;
}
.buttons > button:first-child {
    margin-right: 15px;
}

.more_btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    box-sizing:border-box;
    padding: 3px 0;
    margin: 30px 0;
    font-size: 14px;
    text-align: center;
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
    border-radius: 3px;
    cursor: pointer
}
.more_btn:hover {
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
}
.alert_wrap {
    float: right;
    color: red;
    font-size: 13px;
}
.alert_wrap_left {
    color: red;
    font-size: 13px;
    margin-left: 5px;
}