.heightAuto {
   	position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.hidden {
	display : none;
}
.right_top_cont {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
}

.rwd-table {
	padding: 20px 20px;
	text-align: center;
	border-radius: 10px;
	width: 50%;
	background: #34495e;
	color: #fff;
	border-radius: 0.4em;
	overflow: hidden;
	position: relative;
	
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th {
  color: #dd5;
}
.rwd-table td {
  margin: 0.5em 1em;
  color:wheat;
}