@charset "UTF-8";

.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile {
  position: relative;
  margin-bottom: 10px !important;
}

.profile>button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.subtitle {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
}

.inputbox {
  width: 100%;
  height: 45px;
  padding: 0 15px;
  border: 1px solid #dadada;
  border-radius: 3px;
}

.slide_wrap {
  width: 300px;
  margin: 0 auto;
}

.slide_wrap>form>div {
  margin-bottom: 15px;
  overflow: hidden;
}

.alert_wrap {
  margin-top: 5px;
}

.slide_wrap ul {
  overflow: hidden;
}

.slide_wrap li {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px;
}

.slide_wrap li>input {
  width: 16px;
  height: 16px;
}

.submit_btn {
  margin: 30px auto;
}