.notice_wrap {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 50px;
}
.notice_title {
    font-size: 18px;
    padding: 0 0 15px 10px;
}
.notice_wrap > div {
    width: 100%;
    overflow: hidden;
}

.notice {
    width: 100%;
    height: 175px;
    background-color: #dadada33;
    box-sizing:border-box;
    border-left: 2px solid #333;
}
.notice > div:first-child {
    width: 100%;
    height: 75px;
    padding: 25px;
    overflow: hidden;
    box-sizing: border-box;
}
.notice_title p {
    float:left;
    font-weight: 900;
}
.notice_title > div { 
    float: right;
    text-align: center;
    font-size: 16px;
}
.notice_title > div > span {
    display:block;
    float: left;
    width: 110px;
}
.notice_cont {
    width: 100%;
    height: 100px;
    padding: 0 25px;
}
.notice_cont > div {
    height: 75px;
    overflow: hidden;
}

.inquire {
    width: 1200px;
    margin: 0 auto;
}
.inquire > p {
    padding: 40px 0 20px 60px;
    box-sizing: border-box;
    font-size: 18px;
}

.inquire_cont {
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px;
}
.inquire_cont ul {
    box-sizing: border-box;
    padding: 0 25px;
}
.inquire_cont p {
    margin-bottom: 10px;
}
.inquire_cont input {
    width: 100%;
    margin-bottom: 15px;
    height: 45px;
    box-sizing: border-box;
    padding: 0 15px;
}
.inquire_cont textarea {
    width: 100%;
    resize: vertical;
    min-height: 150px;
    max-height: 450px;
    margin-bottom: 50px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    padding: 5px 15px;
}
.login_submit_btn {
    margin: 0 auto;
}