/* modal pop-up */
#prpop_content1 .d {
  margin: 10px auto;
  width: 50%;
  height: 200px;
}


#prpop1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
  
}
.prhide1{
  display: block !important;
  animation: prhide 0.5s linear forwards !important;
 
  
}
.prshow1 {
  display: block !important;
  opacity: 1;
 
  animation: prshow 0.5s linear forwards;
  display: none;
}
#prpop_content1 {
  margin: 5% auto;
  width: 50%;
  background: white;
  z-index: 3;
}



#prpoplayer1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  margin: 0;
}

@keyframes prshow {
  0% {
      opacity: 0.01;
  }
  100% {
      opacity: 1;
  }
}

@keyframes prhide {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0.01;
  }
}