.box-area  div  div {
	background: none;
	padding: 0;
	min-height: 0;
	position: static;
	top: 0;
	left: 0;
	transform: none;
	width: auto;
}
/* modal pop-up */
#prpop_content .d {
	
	margin: 10px auto;
	width: 50%;
	height: 200px;
}

#prpop {
	position: absolute;
	width: 100%;
	top: 50%;
	z-index: 1;
	display: none;
}

.prhide {
	display: block !important;
	animation: hide 0.5s linear forwards !important;
}

.prshow {
	display: block !important;
	opacity: 1;
	animation: show 0.5s linear forwards;
	display: none;
}

#prpop_content {
	background: white;
	margin: 5% auto;
	width: 50%;
	z-index: 2;
}

#b_main {
	background: white;
}

#prpoplayer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
	margin: 0;
}

@
keyframes prshow { 0% {
	opacity: 0.01;
}

100%
{
opacity
:
 
1;
}
}
@
keyframes prhide { 0% {
	opacity: 1;
}
100%
{
opacity
:
 
0
.01
;

  
}
}