.box-area  div  div {
	background: none;
	padding: 0;
	min-height: 0;
	position: static;
	top: 0;
	left: 0;
	transform: none;
	width: auto;
}
/* modal pop-up */
#prpop_content .d {
	margin: 10px auto;
	width: 50%;
	height: 200px;
}

#prpop {
	position: fixed;
	width: 100% !important;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	z-index: 1;
	background-color: #00000099;
	border: none !important;
}

.prhide {
	display: block !important;
	animation: hide 0.5s linear forwards !important;
}

.prshow {
	display: block !important;
	opacity: 1;
	animation: show 0.5s linear forwards;
	display: none;
}

#prpop_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	z-index: 2;
	box-sizing: border-box;
	padding: 15px;
	width: 650px;
}

#b_main {
	background: white;
}

#prpoplayer {
	position: absolute;
	top: 10px;
	right: 15px;
	width: 30px;
	height: 30px;
	z-index: 5;
	border: none;
	background: transparent;
	font-size: 25px;
}
@keyframes prshow { 
	0% {
		opacity: 0.01;
	}
	100% {
		opacity: 1;
	}
}
@keyframes prhide { 
	0% {
		opacity: 1;
	}
	100% {
		opacity : 0.01;
	}
}

#b_main > h2 {
	box-sizing: border-box;
	padding: 0 0 10px 10px;
	border-bottom: 1px solid #333;
	margin:0 0 15px 0;
	font-size: 18px;
	font-weight: 900;
}
#b_main > p {
	box-sizing: border-box;
	padding:0 0 5px 10px;
	border-bottom: 1px solid #333;
	margin:30px 0 8px 0;
	font-weight: 900;
}
#b_main > div > form > div {
	box-sizing: border-box;
	padding: 5px 15px;
}
#b_main > div > form > div > input {
	margin-right:10px;
}
#rpemail_wrap {
	box-sizing: border-box;
	padding-left: 10px;
}
#rpcontent > textarea {
	width: 100%;
	min-height: 120px;
	box-sizing: border-box;
	padding: 10px;
	resize: none;
}
#rpbtn {
	text-align: center;
}