.fieldset {
    width: 300px;
    border: none;
    margin:0 auto;
}
.fieldset > form > div {
    overflow: hidden;
    margin-bottom: 10px;
}

/* 로그인 text */
.fieldset > form > h3 {
    margin-bottom: 20px;
}

/* input box */
.fieldset > form input {
    width : 300px;
    height: 52px;
    padding : 0 15px;
    border: 1px solid #dadada;
    border-radius: 3px;
    
}
.fieldset > form input.submit_btn {
    margin: 20px 0 8px 0;
}

.fieldset > form > div > a:hover {
    text-decoration:underline;
    color: #4d4d4d;
}

.fieldset > form > div > a {
font-size: 13px;
float: left;
}

.fieldset > form > div > a:last-child {
float: right;
}