.mypageContent{
	width: 1200px;
    height: 850px;
    background: blue;
    margin: auto;
    margin-bottom: 50px;
}

.user{
    height: 350px;
    background: red;
}

.usercontent{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 85%;
}

.studylist{	
height: 500px;
    background: yellow;
}

.bigtext{
	font-size: 30px;
	font-weight: bold;
	height:15%;
}

.userinfo{
    background: rosybrown;
    float: left;
    width: 80%;
    position: relative;
    left: 70px;
}

.userscore{
    background: teal;
    float: left;
    width: 100%;
    position: relative;
    left: 70px;
}

.studycontent{
	height: 80%;
    width: 90%;
    background: royalblue;
    overflow: hidden;
    position: relative;
    float: left;
}

.userpic{
     height: 70%;
    width: 40%;
    background: #000;
    position: relative;
    top: 35px;
    left: 40px;
    float: left;
}
.btns{
    height: 80%;
    width: 40%;
    position: relative;
    top: 30px;
    left: 110px;
    background: #fff;
    float: left;
}
.scorecontent{
    width: 300px;
    height: 70%;
    background: #fff;
    position: relative;
    left: 70px;
    top: 10px;
}

.btn{
	height: 25%;
    width: 90%;
    background: lightgray;
    margin-top: 11px;
    border-radius: 20px;
    line-height: 60px;
    text-align: center;
    font-size: 15px;
    font-weight: bold
}
.btn:hover{
	background: rgb(54, 54, 54);
	color: #fff;
	cursor: pointer;
}
.ment{
    height: 15%;
    position: relative;
    left: 85px;
    font-weight: bold;
    top: 25px;
    font-size: 22px;
}
.studycard{
	width: 230px;
    height: 80%;
    background: #000;
    margin: 20px;
    z-index: 2;
    float: left;
    position: relative;
}
.forslide{
	height: 100%;
    overflow: hidden;
    width: 10000px;
    position: relative;
}
#bigstudytitle{
	line-height: 80px;	
}
.studypic{
	width: 100%;
	height: 230px;
}

.studytitle{
	background: #fff;
	width: 100%;
	height: 90px;
	font-size: 25px;
	text-align: center;
	line-height: 90px;
}
.icons{
	height: 80%;
	width: 60px;
	float: left;
	position: relative;
    top: 100px;
    font-size: 90px;
}
.icons:nth-child(2){
	left: 5px;
}

i:hover{
	color: rgb(184, 184, 184);
	cursor: pointer;
}

