.mypageContent{
    height: 650px;
    margin: auto;
    margin-bottom: 50px;
    transform: scale( 0.8 );
    position: relative;
    top: -100px;
}

.user{
    height: 350px;
}

.usercontent{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 85%;
}

.studylist{	
height: 500px;
}

.bigtext{
	font-size: 30px;
	font-weight: bold;
	height:15%;
}

.userinfo{
    float: left;
    width: 80%;
    position: relative;
    left: 70px;
}

.userscore{
    float: left;
    width: 100%;
    position: relative;
    left: 70px;
}

.studycontent{
	height: 80%;
    width: 90%;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    float: left;
}

.userpic{
	height: 220px;
    width: 220px;
    position: relative;
    top: 30px;
    left: 40px;
    float: left;
}
.btns{
    height: 80%;
    width: 40%;
    position: relative;
    top: 30px;
    left: 110px;
    float: left;
}
.scorecontent{
    width: 300px;
    height: 70%;
    position: relative;
    left: 70px;
    top: 30px;
    transform: scale( 1.6 );
}

.btn{
	height: 25%;
    width: 90%;
    background: lightgray;
    margin-top: 11px;
    border-radius: 20px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: bold
}
.btn:hover{
	background: rgb(54, 54, 54);
	color: #fff;
	cursor: pointer;
}
.ment{
    height: 15%;
    position: relative;
    left: 45px;
    font-weight: bold;
    top: 35px;
    font-size: 27px;
}
.studycard{
	width: 230px;
    height: 80%;
    background: #000;
    margin: 20px;
    z-index: 2;
    float: left;
	position: relative;
	transition: 0.5s;
}

.studycard:hover{
	cursor: pointer;
	transform: scale(1.1);
	box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.2);
}

.forslide{
	height: 100%;
    overflow: hidden;
    width: 10000px;
    position: relative;
    transition: 0.5s;
}
#bigstudytitle{
	line-height: 80px;	
}
.studypic{
	width: 230px;
	height: 230px;
}

.studytitle{
	background: #ccc;
	width: 100%;
	height: 90px;
	font-size: 25px;
	text-align: center;
	line-height: 90px;
}
.icons{
	height: 80%;
	width: 60px;
	float: left;
	position: relative;
    top: 100px;
    font-size: 90px;
}
.icons:nth-child(2){
	left: 5px;
}

i:hover{
	color: rgb(184, 184, 184);
	cursor: pointer;
}

#userimg{
	max-width: 100%;
	max-height: 100%;
}

.studyimg{
	max-width: 100%;
	max-height: 100%;
}