.totalContent{
	width: 100%;
	background: #fff;	
	margin: 15px 0;
}
.pageContent {
	width: max-content;
	margin: auto;
	list-style-type: none;
	height: 40px;
}

.searchContent {
	width: max-content;
	margin: auto;	
	list-style-type: none;
	height: 40px;
	line-height: 40px;
}

.check {
	background: #333;
	color: #fff
}

.lis {
    box-sizing: border-box;
    float: left;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border: none;
    border-radius: 2px;
    text-decoration: none;
}
.lis:hover {
	text-decoration: under-line;
}

.prev, .next {
	width: 33px;
	height: 100%;
	text-align: center;
	line-height: 45px;
}

.prev {
	float: left;
}

.next {
	float: right;
}

.page {
	float: left;
	width: max-content;
}

.lis:hover {
	  text-decoration: underline;
	  cursor: pointer;
}
.searchContent > form > select {
	width: 100px;
	height: 30px;
	box-sizing: border-box;
	border-radius: 3px;
}
.searchContent > form > div {
	display: inline-block;
}
.searchContent > form > div > input {
	width: 250px;
	height: 30px;
	box-sizing: border-box;
	padding: 5px;
	margin-right: 8px;
	border-radius: 3px;
	border: 1px solid rgb(169, 169, 169);
}

.searchContent > form > div > div {
	position: absolute;
    top: 11px;
    right: 20px;
    background-image: url(./../images/icon_search.png);
    width: 18px;
    height: 18px;
    background-size: cover;
    cursor: pointer;
}
