.partlistModal {
   	position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.hidden {
	display : none;
}
.partlist_sub {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
}
.part_table {
	padding: 15px;
	text-align: center;
	color: #333;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	border-collapse: collapse;
}
.part_table th {
	line-height: 45px;
		padding: 0 8px;
	border-bottom:1px solid #333;
}
.part_table td {
	line-height: 40px;
	box-sizing: border-box;
	padding: 0 8px;
}
.part_table td:nth-child(5):hover {
	background-color: #333;
}
.part_table td:nth-child(5):hover > button {
	color: #fff;
}

.table_wrap {
    box-sizing: border-box;
    padding: 15px;
    background: #fff;
    z-index: 1;
    border-radius: 4px;
}