.board_cont_wrap {
	position: relative;
	width:820px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 15px;
    border-left: 1px solid #dadada;
}
.cont_wrap {
	overflow: hidden;
}
.btn_wrap {
	text-align: right;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
}

.btn_wrap > button {
	box-sizing: border-box;
    padding: 3px 24px;
    font-size: 14px;
    border: 1px solid #333;
    background-color: transparent;
    border-radius: 2px;
}
.btn_wrap > button:hover {
	background-color: #333;
	color: #fff;
}

.board_cont {
    width: 250px;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}
.board_cont > a {
    display: block;
    width: 100%;
    border: 1px solid #dadada;
    border-radius: 4px;
} 
.board_cont > a:hover {
    border: 1px solid #333;
}
.cont_img {
    width: 100%;
    height: 155px;
    overflow: hidden;
}
.cont_img img {
    width: 100%;
}
.board_cont > a:hover img {
    transform: scale(1.1);
    transition: 0.3s;
}
.cont_text {
    box-sizing: border-box;
    width: 100%;
    height: 135px;
    padding: 10px 15px;
    border-top: 1px solid #dadada;
}
.cont_text > p {
    font-weight: 900;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cont_text > span {
    display:-webkit-box; 
    line-height: 20px;
    font-size: 14px;
    letter-spacing: -0.3px;
    -webkit-line-clamp:3; 
    -webkit-box-orient:vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: break-word;
    height: 60px;
}
input.submit_btn {
    height: 30px;
    margin: 35px auto 50px;
    line-height: 30px;
    background-color: transparent;
    border: 1px solid #dadada;
    color: #333;
    font-size: 14px;
}
input.submit_btn:hover {
    border: 1px solid transparent;
    background-color: #333;
    color: #fff;
}

.left_list > form > ul {
    box-sizing: border-box;
    padding: 15px;
}
.left_list ul li button {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border: none;
    text-align: left;
    box-sizing: border-box;
    padding: 0 15px;
    background-color: #fff;
}
.left_list ul li button:hover {
    background-color: #333;
    color: #fff;
}

/* 모달창 */
#content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #33333333;
    display: none;
    z-index: 100;
}
#content > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    min-width: 750px;
}
#content > div > form > p {
    min-width: 350px;
    box-sizing: border-box;
    margin: 0;
    border-bottom: 2px solid #333;
    padding:0 0 10px 10px;
}
#content > div > form > div {
    margin: 5px 0;
}
.mbtn_wrap {
	padding: 15px 0 0 0;
    width: 100%;
    overflow: hidden;
    float: left;
    text-align: center;
}
.mbtn_wrap > button {
	box-sizing: border-box;
    padding: 3px 25px;
    background-color: #fff;
    border: 1px solid #333;
    font-size: 14px;
    border-radius: 3px;
}
.mbtn_wrap > button:hover {
	color: #fff;
	background-color: #333;
}
.empty {
    text-align: center;
    box-sizing: border-box;
    padding: 45px 0;
}
.board_cont {
    box-sizing: border-box;
    padding: 5px 15px;
}
.buttons {
    margin-bottom: 10px;
}
.boardInfo {
	font-size: 12px;
    box-sizing: border-box;
    padding-top: 12px;
}
.boardInfo > div > span:nth-child(2) {
	float:right;
}