.fieldset {
    width: 600px;
    padding: 0 40px 0 120px;
    box-sizing: border-box;
    margin:0 auto;
}
.fieldset > p {
    margin-bottom: 5px;
}
.fieldset > input {
    width: 100%;
    height: 45px;
    border: 1px solid #dadada;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 0 15px;
}
.select_wrap {
    overflow: hidden;
    margin-bottom: 10px;
}
#birth_year,#birth_month,#birth_date {
    display: block;
    width: 33.3%;
    height: 45px;
    float: left;
    border: 1px solid #dadada;
    border-right: none;
    background: #FFF 
        url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif)
        115px 50% no-repeat;
    background-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    padding-left: 15px;
}
#birth_year {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#birth_date {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #dadada;
}
#gender{
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding:0 30px 0 15px;
    border: 1px solid #dadada;
    border-radius: 4px;
    background: #FFF 
    url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 
    408px 50% no-repeat;
    background-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 10px;
}

.category_wrap {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    overflow: hidden;
    border: 1px solid #dadada;
    border-radius: 4px;
    margin-bottom: 30px;
}

.category_wrap li {
    display: block;
    width: 25%;
    line-height: 50px;
    float: left;
}
.category_wrap label {
    padding: 6px;
}
