
.vote_title {
    box-sizing: border-box;
    padding-bottom: 15px;
    border-bottom: 2px solid #333;
    overflow: hidden;
}
.vote_title > p {
    float: left;
}
.vote_title > div {
    float: right;
}
.vote_title > div > input {
    font-size: 14px;
}
.vote_title > div > select {
    margin-right: 15px;
    font-size: 14px;
}
.vote_title > div > button {
    font-size: 14px;
}
.cont_board_list > p {
    font-size: 18px;
}

.board_cont_wrap {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 50px;
}
.cont_search {
    width: 100%;
    overflow: hidden;
    padding: 0 15px 15px;
    border-bottom: 3px solid #333;
    box-sizing: border-box;
}
.cont_search > div {
    float: right;
}
.cont_search > div > select {
    width: 120px;
    height: 35px;
    box-sizing: border-box;
    padding-left: 10px;
}
.cont_search > div > input {
    width: 300px;
    height: 35px;
    padding: 0 15px;
}
.board_list {
    width: 100%;
    box-sizing: border-box;
}
.board_list > div {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #dadada;
}
.board_list a {
    display: block;
    width: 100%;
    height: 100%;
}
.board_list a:hover {
    background-color: #dadada44
}
.board_list ul {
    width: 100%;
    height: 100%;
    display: table;
}
.board_list li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 15px;
}
.board_list li:nth-child(1) {
    width: 60px;
}
.board_list li:nth-child(2) {
    min-width: 397px;
    max-width: 397px;
    position:relative;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap
}
.board_list li:nth-child(3) {
    width: 150px;
    max-width: 150px;
}
.board_list li:nth-child(4) {
    width: 150px;
    max-width: 150px;
}