.detail_board_wrap {
    /* width: 1200px; */
    overflow: hidden;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

.board_title {
    overflow: hidden;
    width: 100%;
    border-bottom: 3px solid #333;
}
.board_title > p {
    font-size: 18px;
    font-weight: 900;
    float:left;
    padding: 0 30px 15px;
}

.board_title > div {
    float: right;
}
.board_title > div > span {
    display: block;
    float: left;
    width: 120px;
}

.board_cont {
    box-sizing: border-box;
    width: 100%;
    min-height: 150px;
    padding: 30px 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dadada;
}
.del {
	color: black;
	text-decoration: unset
}


/* 이미지 띄우는 공간 */
.image_wrap {
    box-sizing: border-box;
    width: 100%;
    padding-top: 15px;
}
.image_wrap > img {
    max-width: 100%;
}


.study_right_wrap {
	border-left: none !important;
	width: 100% !important;
}

#report{
    min-width: 85px;
    padding: 3px 8px;
    border: none;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 4px;
    margin: 0 5px;
}

.textAreaWrap {
	display: none;
}