.top_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: 350px;
}
.bottom_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    height: 350px;
}
.dday {
    padding: 100px 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10%;
    margin: 18px;
    height: 314px;
}
.dday h2 {
    font-family: 'Permanent Marker', cursive;
    letter-spacing: -2px;
    font-size: 48px;
}
.dday div {
    font-size: large;
}
.mychart {
    /* padding: 80px 80px; */
    margin: 18px;
    padding: 50px 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10%;
    position: relative;
}
.page {
    position: absolute;
    left: 61px;
    letter-spacing: 1px;
}
 .clearfix {
    padding-bottom: 30px;
} 
.calendar{
    overflow: hidden;
    border: 3px solid rgb(251, 174, 51);
    height: 266px;
}
.calendar .left {
    float: left;
    width: 50%;
    background: rgb(251, 174, 51);
    height: 266px;
}
.calendar .left .month {
    font-size: 20px;
    color: #fff;
    line-height: 47px;
    height: 47px;
    border-bottom: 1px solid rgb(251, 174, 51);
    padding: 0 20px;
    position: relative;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.calendar .left .calendar_table {
    padding: 0 10px;
}
colgroup {
    display: table-column-group;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.calendar .right {
    float: left;
    width: 50%;
}
.calendar .right .date {
    font-size: 14px;
    color: sandybrown;
    padding: 0 0 0 0;
    display: Block;
    font-weight: 500;
}
.calendar .left .calendar_table table td .date.today {
    /* background: url(../../img/front/bg_today.png) no-repeat center center; */
    color: #393715;
    background: #ffed00;
    border-radius: 10px;
}