.detail_board_wrap {
    /* width: 1200px; */
    overflow: hidden;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

.board_title {
	position: relative;
    overflow: hidden;
    width: 100%;
    border-bottom: 3px solid #333;
}
.board_title > p {
    font-size: 18px;
    font-weight: 900;
    float:left;
    padding: 0 15px 15px;
}

.boardInfo {
	float:right;
	margin: 5px 5px 0 0;
	overflow: hidden;
}
.boardInfo > span {
    display: block;
    float: left;
    margin-left: 25px;
}

.board_cont {
	position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 150px;
    padding: 15px 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dadada;
}
.board_cont > form {
	position: absolute;
    right: 0;
    bottom: 15px;
}

.del {
	color: black;
	text-decoration: unset
}


/* 이미지 띄우는 공간 */
.image_wrap {
    box-sizing: border-box;
    width: 100%;
    padding-top: 50px;
    text-align: center;
}
.image_wrap > img {
    max-width: 450px;
}


.study_right_wrap {
	border-left: none !important;
	width: 100% !important;
}


.textAreaWrap {
	display: none;
}
#commentRegistForm > form {
    display: table;
    width: 100%;
}
#commentRegistForm > form > div {
    display: table-cell;
    vertical-align: middle;
}
#commentRegistForm > form > div:nth-child(3) {
    max-width: 975px;
}
#commentRegistForm > form > div textarea {
    position: relative;
    top: 3px;
    width: 1030px;
    resize: none;
    height: 120px;
    border: 1px solid #dadada;
    border-radius: 4px;
    box-sizing: border-box;
    padding:10px;
}
#commentRegistForm > form > div button {
    width: 60px;
    height: 120px;
    line-height: 60px;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #dadada;
}
#commentRegistForm > form > div button:hover {
    background-color: #333;
    color: #fff;
}

#commentList {
    box-sizing: border-box;
    padding: 30px 0 30px 10px;
}
#commentList > div > div {
    margin-bottom: 15px;
    border-left: 8px solid #333;
    padding-left: 20px;
    border-radius: 3px;
}
.commentInfo {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    line-height: 27px;
    padding-top: 8px;
}
.commentInfo > span {
    margin-right: 15px;
}
.commentInfo > div {
    float: right;
}
.commentInfo > div > button {
    padding: 3px 15px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.commentInfo > div > button:hover {
	color: #dd333d;
}
.commentWrap, .commentWrapUp {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
   	word-break: break-word;
}
.textAreaWrap {
    margin: 8px 0 3px 0;
}
.cmtContent {
    width: calc(100% - 65px);
    height: 80px;
    border: 1px solid #dadada;
    border-radius: 4px;
    padding: 10px;
    resize: none;
}
.cmtBtn {
    width: 60px;
    height: 80px;
    border-radius: 4px;
    float: right;
    background-color: #fff;
    border: 1px solid #dadada
}
.cmtBtn:hover {
	background-color: #333;
	color: #fff;
}
#comment_Wrap {
	margin-top: 40px;
}

table {
	width: 80%
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.commentForm {
	display: flex;
	flex-direction: row;
}

.comment {
	height: 100%;
}

.insert1 {
	float: none;
	margin-left: auto;
}

.review {
	margin-bottom: 25px;
}

.comm {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.comm_id {
   margin-right: 10px;
}

.comm_content {
	margin-right: auto;
}

.comm_reg {
	margin-right: auto;
}

.comm_action {
	
}
.comm_reply {
   margin-left: 30px;
}
a {
	color: black
}
.top {
 text-align: right;
}
.prshow {
    opacity: 1;
}
