.infocontent{
    width: 600px;
    margin: 0 auto;
}

.item {
	width: 100%;
	overflow: hidden;
	line-height: 45px;
	margin-bottom: 15px;
}
.item > div {
	float: left;
}
.iname{
	width: 120px;
	border-right: 2px solid #333;
}
.ivalue{
	box-sizing: border-box;
	padding: 0 20px;
}