@charset "UTF-8";
.title {
	font-size : 25px;
	font-weight: bold;
	margin-bottom: 20px;
}
.profile {
	position: relative;
	margin-bottom: 10px !important;
	background-image: url(/WebContent/images/user_basic_img.png);
}
.profile > button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	cursor: pointer;
	border: none;
}
.subtitle {
	font-size : 16px;
	line-height: 30px;
	font-weight: bold;
}
.inputbox {
	width: 100%;
	height: 45px;
	padding : 0 15px;
	border: 1px solid #dadada;
	border-radius: 3px;
}
.slide_wrap {
	width: 600px;
	margin: 0 auto;
}
.slide_wrap > div {
	overflow: hidden;
	margin-bottom: 15px;
}
.slide_wrap ul {
	overflow: hidden;
	border: 1px solid #dadada;
	border-radius: 4px;
	padding: 15px;
}
.slide_wrap li {
	width: 33.3%;
	float: left;
	box-sizing: border-box;
	padding: 0 15px;
	line-height: 40px;
}
.slide_wrap li > input {
	width: 16px;
	height: 16px;
}
.submit_btn {
	margin: 30px auto;
}
.alert_wrap {
	margin-top: 5px;
}
#showArea {
	margin: 15px 0;
}
#selArea {
	overflow: hidden;
    word-break: keep-all;
    color: #ee22aa;
    border: 1px solid #dadada;
    border-radius: 4px;
    margin: 15px 0;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
#selArea > span {
	float: left;
	display: block;
	margin-right: 15px;	
}