.profile {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    overflow:  hidden;
}
.profile > img {
    width: 100%;
}
.icons {
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 0 30px;
}
.icons > div {
    position: relative;
    height: 67px;
    box-sizing: border-box;
    padding: 10px 0;
    border-bottom: 2px solid #dadada;
}
.icons > div > a {
    position: relative;
    width: 50%;
    display: block;
    box-sizing: border-box;
    padding: 0 35px 0 0;
    float: left;
    text-align: right;
    color: #333;
    font-size: 30px;
}
.icons .alarm {
    display: none;
    position: absolute;
    top: -30px;
    left: 230px;
    border: 1px solid #333;
    background-color: #fff;
    min-width: 150px;
    min-height: 150px;
    max-height: 350px;
    border-radius: 4px;
    z-index: 1;
}
.icons .alarm:before {
    display: block;
    position: absolute;
    content: "";
    top: 40px;
    left: -20px;
    width: 37px;
    height: 38px;
    background-color: #fff;
    transform: rotate(45deg);
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom-left-radius: 4px;
} 
.icons .alarm > li {
    width: 100%;
    max-width: 200px;
    height: 35px;
    line-height: 35px;
}
.icons .alarm > li > a {
    font-size: 15px;
    width: 100%;
    height: 100%;
    display: block;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.icons a:last-child {
    text-align: left;
    padding: 0 0 0 35px;
}
.icons a:hover {
    color: #dd333d
}
.left_list > div {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    overflow: hidden;
}
.left_list p {
    border-bottom: 2px solid #dadada;
    text-align: center;
}
.left_list p > a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 15px 0;
}
.left_list p > a:hover {
    color: #dd333d
}
.left_list ul {
    width: 100%;
}
.left_list li {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
}
.left_list li > a {
    box-sizing: border-box;
    padding: 0 15px;
    width: 100%;
    height: 100%;
    display: block;
}
.left_list li:hover > a {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
.right_wrap {
    box-sizing: border-box;
    padding: 0 30px;
}

/* 게시판 css */
.cont_board_list {
    padding: 0 30px;
}
.vote_title {
    box-sizing: border-box;
    padding-bottom: 15px;
    border-bottom: 2px solid #333;
    overflow: hidden;
}
.vote_title > p {
    float: left;
}
.vote_title > div {
    float: right;
}
.vote_title > div > input {
    font-size: 14px;
}
.vote_title > div > select {
    margin-right: 15px;
    font-size: 14px;
}
.vote_title > div > button {
    font-size: 14px;
}
.cont_board_list > p {
    font-size: 18px;
}

.board_cont_wrap {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 50px;
}
.cont_search {
    width: 100%;
    overflow: hidden;
    padding: 0 15px 15px;
    border-bottom: 3px solid #333;
    box-sizing: border-box;
}
.cont_search > div {
    float: right;
}
.cont_search > div > select {
    width: 120px;
    height: 35px;
    box-sizing: border-box;
    padding-left: 10px;
}
.cont_search > div > input {
    width: 300px;
    height: 35px;
    padding: 0 15px;
}
.board_list {
    width: 100%;
    box-sizing: border-box;
}
.board_list > div {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #dadada;
}
.board_list a {
    display: block;
    width: 100%;
    height: 100%;
}
.board_list a:hover {
    background-color: #dadada44
}
.board_list ul {
    width: 100%;
    height: 100%;
    display: table;
}
.board_list li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 15px;
}
.board_list li:nth-child(1) {
    width: 60px;
}
.board_list li:nth-child(2) {
    min-width: 447px;
    max-width: 447px;
    position:relative;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap
}
.board_list li:nth-child(3) {
    width: 100px;
    max-width: 100px;
}
.board_list li:nth-child(4) {
    width: 150px;
    max-width: 150px;
}