.nav {
    height : 70px;
    border-bottom: 1px solid black;
}
.title {
    font-size : 40px;
    font-weight: bold;
}
.main {
    width : 800px;
    margin : 0 auto;
    margin-top : 60px;
}
.finds-item {
    width: 300px;
    height: 300px;
    border : 1px solid black;
}
.fil