html,body {
    width: 100%;
    height: 100%;
}
fieldset {
    width : 860px;
    margin : 0 auto;
    padding : 8px 8px;
   
}
.form_find {
    width : 49%;
    height: 52px;
}
span {
    padding-right: 15px
}