html,body {
    width: 100%;
    height: 100%;
}
fieldset {
    width : 400px;
    margin : 0 auto;
}

.form_find {
    /* width : 48%; */
    width: 100%;
    height: 52px;
}
.inputbox {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
}