html,body {
    width: 100%;
    height: 100%;
}
fieldset {
    width : 900px;
    margin : 0 auto;
}

.form_find {
    /* width : 48%; */
    height: 52px;
}
.inputbox {
    float: left;
    margin 0 a
}