html,body {
    width: 100%;
    height: 100%;
}
section {
    width : 900px;
    margin : 0 auto;
   
}
.form_find {
    /* width : 48%; */
    height: 52px;
}
span {
    width : 25%;
}
.inputbox {float: left;}
.inlutbox:first-child {margin-right: 100px; }
div input { width: 100%;}