body, html {
    width: 100%;
    height : 100%;
}
fieldset {
    width: 300px;
    margin : 0 auto;
    border: none;
}
header {
    width: 100%;
    height: 250px;
}
footer {
    width: 100%;
    height: 100px;
}
input {
    width : 300px;
    height: 52px;
    padding : 0 15px;
}
.form_login {
    margin-bottom : 10px;
}
a {
    font-family: "NotoSansKR Regular" !important;
}
.btn{
    color: #fff;
    background-color: #4d4d4d;
    border-color: #404040;
    display: block;
    width : 100%;
    height: 52px;
    border-radius: 4px;
    line-height: 50px;
    text-align: center;
}
a{
    text-decoration: none;
    color: darkgreen
}
.signup {
    float: right;
}