body, html {
    width: 100%;
    height : 100%;
}
fieldset {
    width: 400px;
    margin : 0 auto;
    border: none;
}
header {
    width: 100%;
    height: 200px;
}
footer {
    width: 100%;
    height: 200px;
}
input {
    width : 100%;
    height: 52px;
    padding : 0 15px;
}