body, html {
    width: 100%;
    height : 100%;
}
fieldset {
    width: 400px;
    margin : 0 auto;
    border: none;
}
header {
    width: 100%;
    height: 200px;
}
footer {
    width: 100%;
    height: 200px;
}
#form_login {
    width 100%;
}