body,html {
    width : 100%;
    height: 100%;
}
input{
    width: 100%;
    height: 45px;
    border: 1px solid #dadada;
    font-size: 15px;
}

#gender{
    width: 100%;
    height: 100%;
    border: 1px solid #dadada;
    padding: .8em .5em;
    font-family: inherit;
    background: #FFF url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#birth_year,#birth_month,#birth_date {
    width: 149px;
    height: 46px;
    border: 1px solid #dadada;
    padding: .8em .5em;
    font-family: inherit;
    background: #FFF url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
h1 {
    text-align: center;
    color : white;
    margin : 0 auto;
    line-height: 100px;
}
h3 {
    margin : 10px;

}
fieldset {
    width: 890px;
    margin : 0 auto;
    border : none;
}
fieldset > div {
    width: 460px;
    margin : 0 auto;
}
header{
    height: 100px;
    width: 100%;
    #4d4d4d;
}
footer {
    height: 100px;
    width: 100%;
    background:#4E97C2 ;
}
.btn{
    color: #fff;
    background-color: #4d4d4d;
    border-color: #404040;
    display: block;
    width : 100%;
    height: 52px;
    border-radius: 4px;
    line-height: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
}