html {
    letter-spacing: -.3px;
    font-size: 13px;
    font-family: "NotoSansKR Regular" !important;
}
.form-item-title {
    font-size : 20px;
    font-weight: bold;
}
.form-item-checkbox {
    width: 100%;
    padding : 15px;
}
.form-item-box {
    width: 100%;
    height: 100px;
    padding : 14px 16px;
    overflow: auto;
    border-radius: 4px;
    background-color: #f3f3f3;
    color: #999;
}
.form-item-all {
    width: 100%;
    padding : 15px;
    box-sizing: border-box;
}
.main {
    width : 400px;
    margin : 0 auto;
}
header {
    height: 150px;
}
footer {
    height: 150px;
}
.btn {
    width: 100%;
    height: 50px;
}