html {
    letter-spacing: -.3px;
    font-size: 13px;
    font-family: "NotoSansKR Regular" !important;
}
.form-item-box {
    width: 100%;
    height: 100px;
    padding : 14px 16px;
    overflow: auto;
    border-radius: 4px;
    background-color: #f3f3f3;
}