html {
    letter-spacing: -.3px;
    font-size: 13px;
    font-family: "NotoSansKR Regular" !important;
}
.form-item-title {
    font-size : 20px;
    font-weight: bold;
}
.form-item-checkbox {
    width: 100%;
    padding : 15px;
}
.form-item-box {
    width: 100%;
    height: 100px;
    padding : 14px 16px;
    overflow: auto;
    border-radius: 4px;
    background-color: #f3f3f3;
    color: #999;
}
.form-item-all {
    width: 100%;
    padding : 15px;

}
.main {
    width : 400px;
    margin : 0 auto;
}
header {
    height: 150px;
}
footer {
    height: 150px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 7px 12px 5px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.form-item-btn {
    width: 430px;

}
.btn-reverse {
    border-color: #262626;
}
.btn-dark .badge, .btn-reverse {
    color: #fff;
    background-color: #333;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, select {
    text-transform: none;
}

button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
*, :after, :before {
    box-sizing: border-box;
}
button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}

.btn-block {
    display: block;
    width: 100%;
}