
	/* body	*/
	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
		font-family: "Open Sans", Helvetica, sans-serif;
		background-color: #ffffff;
	}
	/* body	*/


#responsive-admin-menu {
	float: left;
	width: 200px;
	background-color: #faf7d3;
	height: 100%;
	position: relative;
	overflow: hidden;
	left: 0;
	min-height: 500px;

}

#content-wrapper {
	width: 970px;
	margin-left: 200px;
	background-color: #ffffff;
	height: 1200px;
	padding: 15px;
}

#responsive-admin-menu #responsive-menu {
	height: 50px;
	display: none;
	line-height: 50px;
	cursor: pointer;
	color: #ffffff;
	text-indent: 10px;
}


#responsive-admin-menu #responsive-menu .menuicon {
	color: #ffffff;
	font-size: 24px;
	position: absolute;
	right: 10px;
	top: 0px;
}
#responsive-admin-menu #logo {
	background-position: -0px -36px;
	width: 174px;
	height: 40px;
	margin: 10px;
  -webkit-background-size: 146.66667px 25.83333px;
  background-size: 146.66667px 25.83333px;
}

/* Menu Styles */
#responsive-admin-menu #menu {
	width: 100%;
}
#responsive-admin-menu #menu a {
	border-bottom: 1px dotted #52535a;
	font-size: 14px;
	text-decoration: none;
	display: block;
	padding: 12px;
	color: rgb(0, 0, 0);
	position: relative;
	font-weight: 400;
	overflow: hidden;
}
#responsive-admin-menu #menu a:hover {
	color: #52535a;
	background-color:#fcfcfc;
}
#responsive-admin-menu #menu i {
	width: 16px;
	padding-right: 4px;
}
#responsive-admin-menu #menu div {
	display: none;
	width: 100%;
	background-color: #5c5d64;
	overflow: hidden;
}
#responsive-admin-menu #menu div a {
	color: #c0c0c0;
}
#responsive-admin-menu #menu div a:hover {
	color: #888888;
}
#responsive-admin-menu #menu  {
	font-family: FontAwesome;
	content: "\f054";
}
#responsive-admin-menu #menu  {
	font-family: FontAwesome;
	content: "\f078";
}
#responsive-admin-menu #menu a.submenu:before {
	font-size: 14px;
	position: absolute;
	right: 15px;
	top: 17px;
}

/* menu-icon */
.icon {
    font-style: normal;
    font-weight: bold; 
}
/* box */
.box-wrap { position: relative; min-height: 250px;  }
.box-wrap table {
    width: 800px;
  margin: 20px auto;
}
.box-wrap table,th,td{
  border-collapse: collapse;
  border: 1px solid black;
}
.box-area div div { background: #ffffff; padding: 20px; min-height: 250px; position: absolute; top: -1px; left: 0%; transform: translateX(0%); width: 100%;

}
#box-1:target, #box-2:target, #box-3:target, #box-4:target, #box-5:target, #box-6:target, #box-7:target{
    z-index: 1;
  }

/* content */
  #content {

    float: left;
    
    }
/* saerch */
.saerch{
    position: relative;
    left: 57%;
  }
  .saerch-board{
    position: relative;
    left: 45%;
  }
  .saerch-ca{
    position: relative;
    left: 50%;
  }
  .delete{
    text-align: center;
  }