#main{
    margin: 0 auto;
    width: 600px;
}
#main > div{
    margin: 0;
    margin-top: 30px;
}
div{
    border-collapse: collapse;
}
.con{
    width: 600px;
}
#con1{
    box-sizing: border-box;
    height: 40px;
    padding: 10px;
}
#con2{
    box-sizing: border-box;
    padding: 15px;
    height: 400px;
}
#button {
    width: 90px;
    /* border: 1px solid black; */
    
    margin: 20px auto;
}