.tabs { list-style: none; }
.tabs li { display: inline; }
.tabs li a { color: black; float: left; display: block; padding: 4px 10px; margin-left: -1px; position: relative; left: 1px; background: white; text-decoration: none; }
.tabs li a:hover { background: #ccc; }
/**/
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
/**/
.box-wrap { position: relative; min-height: 250px; }
.tabbed-area div div { background: #faf7d3; padding: 20px; min-height: 250px; position: absolute; top: -1px; left: 0; width: 100%; }
.tabs li a { border: 1px solid #ccc; }
/**/
#box-1:target, #box-2:target, #box-3:target, #box-4:target, #box-5:target, #box-6:target, #box-7:target{
  z-index: 1;
}
.box-wrap table,th,td{
  border-collapse: collapse;
  border: 1px solid black;
}
.box-wrap table{
  width: 800px;
  margin: 20px auto;
}
/**/
.saerch{
  position: relative;
  left: 57%;
}
.saerch-board{
  position: relative;
  left: 45%;
}
.saerch-ca{
  position: relative;
  left: 50%;
}
.delete{
  text-align: center;
}
