header {
    width: 1200px;
    margin: 0 auto;
}

/* header_top_wrap */
.header_top_wrap {
    width: 100%;
    height: 55px;
}
.header_top_wrap > div:first-child {
    display: table;
    float: left;
    height: 100%;
}
.header_top_wrap > div:first-child > a {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    font-size: 24px;
    font-weight: 900;
}
.header_top_wrap > div:last-child {
    float: right;
    height: 100%;
    text-align: center;
}
.header_top_wrap ul {
    display: table;
    height: 100%;
}
.header_top_wrap ul li {
    display: table;
    float: left;
    height: 100%;
    padding: 0 15px;
}
.header_top_wrap ul li:nth-child(2) {
    display:table-cell;
    vertical-align: middle;
    float: none;
}
.header_top_wrap ul li a {
    display: table-cell;
    vertical-align: middle;
}
.header_top_wrap ul li a:hover {
    text-decoration:underline;
}

/* header_bot_wrap */
.header_bot_wrap {
    box-sizing: border-box;
    width:100%;
    height: 55px;
    padding: 0 30px;
}
.header_bot_wrap > div {
    width: 20%;
    height: 100%;
    float: left;
    display: table;
}
.header_bot_wrap > div > a {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    text-align: center;
}
.header_bot_wrap > div > a:hover {
    color: #dd333d;
}

/* section 전체 범위 설정 */
section {
    width: 1200px;
    margin: 0 auto;
}

/* background-wrap */
section.background_wrap {
    width: 100%;
    height: 300px;
    background-image: url("./../images/bg_image01.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}
.background_wrap > div.background {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    top: 300px;
}
.background_wrap > div.background > h1 {
    position: relative;
    font-size: 60px;
    top: -50px;
}
.background_wrap > div.background > p {
    position: relative;
    font-size: 18px;
    top: -30px;
}

/* section 퍼블리싱 다시 초기화 */
section:nth-child(3) {
    width: 1200px;
    margin: 0 auto;
    padding-top: 110px;
}

.section_wrap {
    float:left;
    min-height: 100px;
    box-sizing: border-box;
    padding: 15px;
}
.left_wrap {
    width: 280px;
    border-right: 3px solid #333;
    background-color: #33333311;
}
.right_wrap {
    width: 920px;
    background-color: #eee33333;
}